<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
    If you need to get in touch with the person who made this fantastic website, please call <a href="tel:01924 7357149">01924 7357149</a>, email <a href="mailto: raymondsmith@example.com">Ray Smith</a> or access the <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>